@import "tailwindcss";

@theme {
  --color-dark: #050505;
  --color-charcoal: #0f0f11;
  --color-accent: #00FF66;
  --color-accent-hover: #00d957;
  --color-text-main: #f8fafc;
  --color-text-muted: #94a3b8;
  --shadow-glow: 0 4px 20px rgba(0, 255, 102, 0.15);
  --shadow-glow-hover: 0 6px 25px rgba(0, 255, 102, 0.3);

}

@layer base {
  html {
    background-color: #050505 !important;
    color-scheme: dark;
    scrollbar-width: thin;
    scrollbar-color: #1a1a24 #050505;
  }

  body {
    color: #f8fafc;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #050505;
  }

  ::-webkit-scrollbar-thumb {
    background: #1a1a24;
    border-radius: 10px;
    border: 3px solid #050505;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}